{% extends "base.html" %}
{% block content %}
    <div>
        <main class="container">
            <div>
                <div class="top-banner">
                    <h1>Key Players</h1>
                    <div style="max-width:600px;text-align:center;">
                        <p class="text-muted">The following people played pivotal roles in the development of the Internet.</p>
                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3 person-wrapper">
                                <h4 class="lead">J.C.R. Licklider</h4>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="J.C.R. Licklider" src="https://upload.wikimedia.org/wikipedia/commons/6/66/J._C._R._Licklider.jpg" />
                                    <cite title="Wikipedia"><a href="https://en.wikipedia.org/wiki/J._C._R._Licklider">Wikipedia</a></cite>
                                </div>
                            </div>
                            <div class="col-md-9 person-description-wrapper">
                                <p>An MIT computer scientist who came up with the idea of a global computer network. One of his most notable contributions is coming up with the math to have error correction with sending packets instead of a single circuit.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3 person-wrapper">
                                <h4 class="lead">Vint Cerf and Bob Kahn</h4>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Bob Kahn and Vint Cerf" src="https://i.guim.co.uk/img/media/f1b8d890584ca2982eb927c187100c0a4f549b91/0_1171_5026_3015/master/5026.jpg?width=700&quality=85&auto=format&fit=max&s=6f890430b78a8169b5bbb07745ec8f6b" />
                                    <cite title="The Guardian"><a href="https://www.theguardian.com/technology/2016/jul/15/how-the-internet-was-invented-1976-arpa-kahn-cerf">The Guardian</a></cite>
                                </div>
                            </div>
                            <div class="col-md-9 person-description-wrapper">
                                <p>Considered to be the "Fathers of the Internet", Vint Cerf and Bob Kahn are responsible for developing Transmission Control Program (TCP) and Internet Protocol (IP). These two protocols were foundational in allowing computer networks to work reliably.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3 person-wrapper">
                                <h4 class="lead">Tim Berners-Lee</h4>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Tim Berners-Lee" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Sir_Tim_Berners-Lee_%28cropped%29.jpg/220px-Sir_Tim_Berners-Lee_%28cropped%29.jpg" />
                                    <cite title="Wikipedia"><a href="https://en.wikipedia.org/wiki/Tim_Berners-Lee">Wikipedia</a></cite>
                                </div>
                            </div>
                            <div class="col-md-9 person-description-wrapper">
                                <p>A British computer scientist who worked at CERN in Switzerland. He is responsible for researching and developing the World Wide Web and the idea of linking hypertext documents in such a way as to allow them to be accessible by any computer connected to a given network.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3 person-wrapper">
                                <h4 class="lead">Jeff Bezos</h4>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Jeff Bezos" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Jeff_Bezos_at_Amazon_Spheres_Grand_Opening_in_Seattle_-_2018_%2839074799225%29_%28cropped%29.jpg/220px-Jeff_Bezos_at_Amazon_Spheres_Grand_Opening_in_Seattle_-_2018_%2839074799225%29_%28cropped%29.jpg" />
                                    <cite title="Wikipedia"><a href="https://en.wikipedia.org/wiki/Jeff_Bezos">Wikipedia</a></cite>
                                </div>
                            </div>
                            <div class="col-md-9 person-description-wrapper">
                                <p>Jeff Bezos is the founder of ecommerce company Amazon. One of the reasons attributed to Amazon's success is Bezos' decision early on the sacrifice profits in order to focus on growth during the "gold rush" of the early Internet. Amazon showed and continues to show the power of the Internet as a format for commerce.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3 person-wrapper">
                                <h4 class="lead">Robert Metcalfe</h4>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Robert Metcalfe" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Robert_Metcalfe_National_Medal_of_Technology.jpg/220px-Robert_Metcalfe_National_Medal_of_Technology.jpg" />
                                    <cite title="Wikipedia"><a href="https://en.wikipedia.org/wiki/Robert_Metcalfe">Wikipedia</a></cite>
                                </div>
                            </div>
                            <div class="col-md-9 person-description-wrapper">
                                <p>Worked at Xerox PARC in the 1960s and 1970s. Metcalfe is responsible for the invention of Ethernet to allow the transfer of data between computers.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3 person-wrapper">
                                <h4 class="lead">Mark Andreessen</h4>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Mark Andreessen" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Marc_Andreessen-9.jpg/240px-Marc_Andreessen-9.jpg" />
                                    <cite title="Wikipedia"><a href="https://en.wikipedia.org/wiki/Marc_Andreessen">Wikipedia</a></cite>
                                </div>
                            </div>
                            <div class="col-md-9 person-description-wrapper">
                                <p>A computer scientist at the University of Illinois, Andreessen was quick to realize that the Internet would change the world. He developed the first publicly available web browser called Mosaic. Later with a few other software engineers he helped develop Netscape.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3 person-wrapper">
                                <h4 class="lead">Bill Gates</h4>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Bill Gates" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Bill_Gates_2017_%28cropped%29.jpg/220px-Bill_Gates_2017_%28cropped%29.jpg" />
                                    <cite title="Wikipedia"><a href="https://en.wikipedia.org/wiki/Bill_Gates">Wikipedia</a></cite>
                                </div>
                            </div>
                            <div class="col-md-9 person-description-wrapper">
                                <p>Although he was skeptical of the potential of the Internet at first, Gates quickly realized its future importance and essentiality. After the Netscape browser launched, he tasked a team of engineers at Microsoft to develop what would become Internet Explorer. The Internet Explorer browser was the dominant web browser for a long period of time at the beginning of the Internet.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
    </div>
{% endblock %}