{% extends "base.html" %}
{% block content %}
    <div>
        <main class="container">
            <div>
                <div class="top-banner">
                    <h1>Timeline of the Internet</h1>
                    <div style="max-width:600px;text-align:center;">
                        <p class="text-muted">Although not a comprehensive summary, the following timeline serves as a chronological explanation of key moments in the history of the Interent.</p>
                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="lead">Global Network Computer</h4>
                            </div>
                            <div class="col-md-9">
                                <p>In the early 1960s, an MIT computer scientist named J.C.R. Licklider came up with the idea of a global computer network. He shared this idea with some colleagues at the United States Department of Defense Advanced Research Projects Agency (ARPA).</p>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="J.C.R. Licklider" src="https://upload.wikimedia.org/wikipedia/commons/6/66/J._C._R._Licklider.jpg" />
                                    <cite title="J.C.R. Licklider">J.C.R. Licklider. <a href="https://en.wikipedia.org/wiki/J._C._R._Licklider">Wikipedia</a></cite>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="lead">ARPANET</h4>
                            </div>
                            <div class="col-md-9">
                                <p>In the 1960s ARPA funded research for time-sharing computers. This laid the groundwork for what would become the Internet: thousands of users sharing data from the same common resources (servers).</p>
                                <p>ARPANET was born on October 29, 1969 when two computer networks were connected: UCLA's Network Measurement Center and SRI International at Stanford University. Following the connection of these two university networks, UC Santa Barbara and the University of Utah became the third and fourth additions respectively. By the end of 1971, fifteen sites total were connected to ARPANET. The below diagram shows how ARPANET grew throughout the 1970s.</p>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="ARPANET 1969-1977" src="https://images.theconversation.com/files/144160/original/image-20161102-27228-1iicfpi.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=600&h=390&fit=crop&dpr=1" />
                                    <cite title="The Converstaion: How the Internet was born: from the ARPANET to the Internet">ARPANET 1969-1977. <a href="https://theconversation.com/how-the-internet-was-born-from-the-arpanet-to-the-internet-68072">The Converstaion: How the Internet was born: from the ARPANET to the Internet</a></cite>
                                </div>
                                <p>Many notable networking technologies were developed during this time, including things such as TCP/IP.</p>
                                <p>ARPANET is considered to be the precursor of the Internet as we know it today. It was decommissioned in 1990.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="lead">TCP/IP</h4>
                            </div>
                            <div class="col-md-9">
                                <p>In the early 1970s, Bob Kahn and Vint Cerf at Stanford University developed the Transmission Control Program (TCP) and Internet Protocol (IP). TCP/IP allowed multiple networks to be connected and allowed for individual networks to come down without crashing the entire multi-network system. This was an important event as it eventually led to a standardization for how networks should interact with one another.</p>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Bob Kahn and Vint Cerf" src="https://i.guim.co.uk/img/media/f1b8d890584ca2982eb927c187100c0a4f549b91/0_1171_5026_3015/master/5026.jpg?width=700&quality=85&auto=format&fit=max&s=6f890430b78a8169b5bbb07745ec8f6b" />
                                    <cite title="Vint Cerf and Bob Kahn">Vint Cerf and Bob Kahn. <a href="https://www.theguardian.com/technology/2016/jul/15/how-the-internet-was-invented-1976-arpa-kahn-cerf">The Guardian</a></cite>
                                </div>
                                <p>At the time TCP/IP was developed, a few other networks existed throughout the world including (besides ARPANET) NPL Network (London), Merit Network (Michigan), and CYCLADES (France). This was an important event as it led to a standardization for how networks could interact with one another.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="lead">Xerox PARC</h4>
                            </div>
                            <div class="col-md-9">
                                <p>Xerox Palo Alto Research Center (PARC) was founded in 1969. This research company benefited greatly from being in Silicon Valley--they were able to hire many talented engineers to work on breakthroughs in modern computing. Some of these inventions include laser printers, Graphical User Interfaces, and the mouse. Of particular importance to the birth of the Internet is the invention of Ethernet by Robert Metcalfe. This allowed for data to be transferred over a network of computers and is still in use today.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="lead">NSFNET Project</h4>
                            </div>
                            <div class="col-md-9">
                                <p>The National Science Foundation (NSF) was responsible for funding many supercomputer sites throughout the United States in the early 1980s. As part of this funding, NSF enabled networking between these supercomputers for research and academic purposes to many organizations in the United States. Eventually international computers would be connected to NSFNET. This in combination with the adoption of networking architectures such as TCP/IP and Domain Name System (DNS) on an international basis proved to be the beginning of the Internet as we know it today. NSFNET was decommissioned in 1995.</p>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="NSF logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/NSF_logo.png/1280px-NSF_logo.png" width="200" />
                                    <cite title="NSF logo">NSF Logo. <a href="https://en.wikipedia.org/wiki/National_Science_Foundation">Wikipedia</a></cite>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="lead">World Wide Web</h4>
                            </div>
                            <div class="col-md-9">
                                <p>Tim Berners-Lee, a British computer scientist from CERN in Switzerland, researched and developed the World Wide Web between the years 1989 and 1990. He came up with the idea of linking hypertext documents in such a way so that they would be accessible by any computer connected to the network. This is how the Internet as we know it today functions. From the mid-1990s the importance of the Internet would grow exponentially to become the powerful and essential resource it is today.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="lead">Netscape Navigator</h4>
                            </div>
                            <div class="col-md-9">
                                <p>While at the University of Illinois, Mark Andreessen developed the first internet browser publicly available called Mosaic. A few years later, Andreessen along with Jim Clark and others founded and developed Netscape Navigator, the first commercially available web browser. Netscape Navigator launched on October 13, 1994 and was eventually acquired by AOL in 1997.</p>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Netscape Navigator Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Netscape_logo.svg/1200px-Netscape_logo.svg.png" />
                                    <cite title="Netscape Navigator Logo">Netscape Navigator Logo. <a href="https://commons.wikimedia.org/wiki/File:Netscape_logo.svg">Wikimedia Commons</a></cite>
                                </div>
                                <p>Not only was the launch of Netscape Navigator a huge achievement and the next step in the Internet becoming ubiquitous throughout the world, it also demonstrated to Bill Gates of Microsoft just how important the Internet would be. Gates assigned a team of engineers to work on a browser that would become Internet Explorer. By September 1997 Internet Explorer had essentially defeated Netscape Navigator, and for many years Internet Explorer was by far the most used web browser.</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="lead">Search</h4>
                            </div>
                            <div class="col-md-9">
                                <p>Internet serach has become an essential part of the Internet experience. Yahoo search was started by two Stanford students who were looking for a way to get fantasy basketball information. Its search results were mostly hand-curated and categorized. It showed that it was possible to make money on the web through advertisements.</p>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Yahoo!" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Yahoo%21_%282019%29.svg/2560px-Yahoo%21_%282019%29.svg.png" />
                                    <cite title="Yahoo! Logo">Yahoo! Logo. <a href="https://commons.wikimedia.org/wiki/File:Yahoo!_(2019).svg">Wikimedia Commons</a></cite>
                                </div>
                                <p>Some other search engines such as Excite and Alta Vista came after Yahoo. Instead of using manual curation, these services would crawl the web to find pages. This was a much more sophisticated method of mapping out the Internet, especially as the number of websites continued to increase at exponential rates.</p>
                                <p>Google is perhaps the most well known search engine and is by far the most lucrative as a business. So much so that the company's name Google has now become synonymous with performing a web search. Google's method of search, developed by Sergey Brin and Larry Page, involves among other things counting the number of times a page is linked to. Not only was the technology revolutionary, but also their form of monitization: personalized advertisements.</p>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Google" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/368px-Google_2015_logo.svg.png" />
                                    <cite title="Google Logo">Google Logo. <a href="https://en.wikipedia.org/wiki/Google_logo">Wikipedia</a></cite>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="lead">Social Networks</h4>
                            </div>
                            <div class="col-md-9">
                                <p>Along with search engines, many other internet services began to surface as more and more people gained access to the Internet. One of those types of services was social media websites. One of the first of these such websites was MySpace, which was founded in 2003. By 2005 MySpace had reached 27 million users, which at the time was a staggering number.</p>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="MySpace" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Myspace.svg/1200px-Myspace.svg.png" width="300" />
                                    <cite title="MySpace Logo">MySpace Logo. <a href="https://en.wikipedia.org/wiki/File:Myspace.svg">Wikipedia</a></cite>
                                </div>
                                <p>After MySpace, Facebook was launched and steadily gained in popularity. Facebook's killer feature was being able to map out relationships between people using a social graph. For example, if you became friends with someone who was also friends with two other people you know, you might be prompted to add those other two people. As more and more people joined the platform it became better and better at detecting relationships between people.</p>
                                <div class="timeline-img-wrapper">
                                    <img class="img-fluid" alt="Facebook" src="https://scontent-lga3-1.xx.fbcdn.net/v/t39.8562-6/109960336_274477960450922_1306319190754819753_n.png?_nc_cat=107&ccb=1-5&_nc_sid=6825c5&_nc_ohc=knJjyChLhB4AX-Ye3zy&_nc_ht=scontent-lga3-1.xx&oh=15069eefaa5d09b5a5d70767dc79a822&oe=618892F0" />
                                    <cite title="Facebook Logo">Facebook Logo. <a href="https://www.facebook.com/brand/resources/facebookapp/logo">Facebook Brand Resources</a></cite>
                                </div>
                                <p>Social media has completely changed the world for better or worse. It has become easier than ever to make your voice heard by other people all over the world.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
    </div>
{% endblock %}