body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(247,248,249);
  margin-top: 20px;
}