html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* Header */
.my-header {
  margin-bottom: 20px;
}

.my-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(247,248,249);
  margin-top: 20px;
}

/* Hero Image */
.hero-image {
  max-width: 100%;
  height: 600px;
  background-image: url(https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-text {
  /* color: #000000; */
  /* text-shadow: 3px 3px 3px #ffffff; */
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

.article-card-row {
  margin-top: 20px;
}

.article-card {
  margin-top: 0;
}

@media (max-width: 767px) {
  .article-card-row {
    margin-top: 0;
  }

  .article-card {
    margin-top: 20px;
  }
}

.top-banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.timeline-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.person-wrapper {
  text-align: center;
}

.person-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Code */
/* code {
  display: block;
  background: rgb(247,248,249);
  border: 1px solid rgb(165, 165, 165);
  border-radius: 5px;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 10px;
} */
.language-py,
.language-shell {
  font-size: 12px !important;
}

/* C A L C U L A T O R */
.calculator-card {
  border: none;
  border-radius: 5%;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}