{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}

    <div style="display:flex;flex-direction:row;justify-content:center;align-items:center;">
        <div style="width:400px;">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                    {% for message in errors %}
                        <div class="alert alert-danger error" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="mb-3 row">
                {% include "calculator_form.html" %}
            </div>
        </div>
    </div>
    
{% endblock %}