{% block calculator_form %}

  <div class="card calculator-card">
    <div class="card-body">
      <h1 style="text-align:center;margin-bottom:20px"><i class="fas fa-calculator"></i>&nbsp;Calculator</h1>
      <form action="/calculator" method="POST">
        <input type="text" id="value1" name="value1" value="" class="form-control" placeholder="Value 1" aria-label="Value 1"><br>
        <input type="text" id="value2" name="value2" value="" class="form-control" placeholder="Value 2" aria-label="Value 2"><br>
        <fieldset>
        <legend>Operation</legend>
          <div class="form-check">
            <input type="radio" name="operation" id="add" value="add" class="form-check-input" checked>
            <label for="add" class="form-check-label">add</label>
          </div>
          <div class="form-check">
            <input type="radio" name="operation" id="subtract" value="subtract" class="form-check-input">
            <label for="subtract" class="form-check-label">subtract</label>
          </div>
          <div class="form-check">
            <input type="radio" name="operation" id="multiply" value="multiply" class="form-check-input">
            <label for="multiply" class="form-check-label">multiply</label>
          </div>
          <div class="form-check">
            <input type="radio" name="operation" id="divide" value="divide" class="form-check-input">
            <label for="divide" class="form-check-label">divide</label>
          </div>
        </fieldset>

        <br />

        <button type="submit" class="btn btn-primary">Calculate</button>
      </form>
    </div>
  </div>

{% endblock %}