{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Project 3</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calculator"><i class="fas fa-calculator"></i>&nbsp;Calculator</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="far fa-newspaper"></i>&nbsp;Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><h6 class="dropdown-header">Internet History</h6></li>
            <li><a class="dropdown-item" href="/internet-history/timeline">Timeline</a></li>
            <li><a class="dropdown-item" href="/internet-history/people">People</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><h6 class="dropdown-header">Object Oriented Programming</h6></li>
            <li><a class="dropdown-item" href="/oop/tips-and-tricks">Tips and Tricks</a></li>
            <li><a class="dropdown-item" href="/oop/aaa-testing">AAA Testing</a></li>
            <li><a class="dropdown-item" href="/oop/oop-principles">OOP Principles</a></li>
            <li><a class="dropdown-item" href="/oop/separation-of-concerns">Sepration of Concerns</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}